.hr_01{
    border-top: medium dashed rgb(142, 217, 255);
      border-bottom: medium dashed rgb(142, 217, 255);
      height: 4px;
    overflow: visible;
      padding: 1;
      text-align:center;}